@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-img {
  background-image: url(./images/hero_2.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0d0d57;
}

.hero-img h1 {
  font-family: 'Oswald';
  font-weight: 400;
}

.hero-img h2 {
  font-family: 'Oswald';
  font-weight: 200;
}

#logo{
  display: none;
}

#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  
}

.page_content{
  width:95vw;
  margin:auto;
  padding-bottom: 20px;;
}

/* Gallery CSS */
.gallery {
  padding: 20px 0;
  /* width:95vw; */
  /* margin:auto; */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-bottom: gray 2px solid;
  margin-bottom: 20px;
  z-index: -1
}

.content{
  height: 40vh;
  padding-right: .5rem;
  transition: transform .2s;
  cursor: pointer;
}

.content:hover {
  transform: scale(1.08);
}

footer {
  color: white;
  background: black;
}

@media screen and (max-width: 1000px) {
  #hero{
    display: none;
  }

  #logo{
    display: flex;
  }

  .content{
    width: 100%;
    height:auto;
  }

  .content:hover {
    transform: none;
  }
}